# Dependencies
node_modules/

# Build
dist/

# Vite
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Environment
.env
.env.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
